@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");

:root {
	--color-background: rgb(250, 250, 250);
	--color-black: rgb(0, 0, 0);
	--color-grey: rgba(0, 0, 0, 0.3);
	--color-blue: rgb(0, 0, 255);
	--text-light: 100;
	--text-regular: 400;
	--text-bold: 700;
	--header-height: 10em;
	--web-width: 32em;
}

html {
	font-family: "JetBrains Mono", sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-background);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: var(--web-width);
	height: var(--header-height);
	position: fixed;
	background-color: var(--color-background);
}

nav {
	margin-top: 3em;
	display: flex;
}

main {
	width: var(--web-width);
	margin-top: var(--header-height);
}

form {
	margin-inline: 3em 3px;
}

input[type="search"] {
	width: 100%;
	height: 100%;
	padding-inline: 1em;
	background-color: var(--color-background);
	border: 2px solid;
	box-shadow: 3px 3px;
	border-radius: 0;
}

input[type="search"]:focus {
	outline: none;
}

h2 {
	margin: 0;
	color: var(--color-blue);
}

ul {
	margin: 0;
	padding-left: 0;
}

li {
	width: 100%;
	list-style-type: none;
	border: 2px solid;
	padding: 2em;
	margin-bottom: 2em;
}

.nav-container {
	display: flex;
}

.nav-item {
	margin-right: 1em;
	padding: 1em;
	line-height: 0.6;
	text-decoration: none;
	color: var(--color-black);
	border: 2px solid;
	box-shadow: 3px 3px;
}

.nav-item:nth-last-of-type(1) {
	margin-right: 0;
}

.nav-item:hover {
	transform: scale(1.05);
}

.nav-item-active {
	color: var(--color-blue);
	border-color: var(--color-blue);
	box-shadow: 3px 3px var(--color-blue);
	transform: scale(1.05);
}

.li-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.li-title {
	margin: 0;
	color: var(--color-blue);
}

.li-title-aside {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.1;
	color: var(--color-black)
}

.li-sidenote {
	color: var(--color-grey);
}

.under-construction {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px dotted var(--color-grey);
	opacity: 0.5;
}

.under-construction > p {
	text-align: center;
}

@media (max-width: 36em) {
	:root {
		--header-height: 7.25em;
	}

	nav {
		margin-top: 2em;
	}

	header,
	main {
		width: 100vw;
		padding-inline: 2em;
	}

	form {
		margin-inline: 1em 2px;
	}

	input[type="search"] {
		box-shadow: 2px 2px;
	}

	.nav-item {
		padding: 0.75em;
		box-shadow: 2px 2px;
	}

	.nav-item-active {
		box-shadow: 2px 2px;
	}

	.nav-item > svg {
		width: 20px;
		height: 20px;
	}
}
