@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");

:root {
	--color-background: rgb(250, 250, 250);
	--color-black: rgb(0, 0, 0);
	--color-grey: rgba(0, 0, 0, 0.3);
	--color-blue: rgb(0, 0, 255);
	--text-light: 100;
	--text-regular: 400;
	--text-bold: 700;
	--header-height: 10em;
}

html {
	font-family: "JetBrains Mono", sans-serif;
}

body {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--color-background);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 32em;
	height: var(--header-height);
	position: fixed;
	background-color: var(--color-background);
}

nav {
	margin-top: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

main {
	margin-top: var(--header-height);
}

form {
	width: 0px;
	margin-inline: 3em 3px;
	flex-grow: 1;
}

input[type="search"] {
	width: 100%;
	height: 100%;
	padding: 1em;
	background-color: var(--color-background);
	border: 2px solid var(--color-black);
	box-shadow: 3px 3px;
	border-radius: 0;
}

input[type="search"]:focus {
	outline: none;
}

h2 {
	margin: 0;
	color: var(--color-blue);
}

ul {
	width: 32em;
	margin: 0;
	padding-left: 0;
}

li {
	width: 100%;
	list-style-type: none;
	border: 2px solid;
	padding: 2em;
	margin-bottom: 2em;
}

.nav-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.nav {
	margin-right: 1em;
	padding: 1em;
	line-height: 0.6;
	text-decoration: none;
	color: var(--color-black);
	border: 2px solid var(--color-black);
	box-shadow: 3px 3px var(--color-black);
}

.nav:hover {
	transform: scale(1.05);
}

.active {
	color: var(--color-blue);
	border-color: var(--color-blue);
	box-shadow: 3px 3px var(--color-blue);
}

.abbrCZ {
	color: var(--color-grey);
}

@media (max-width: 36em) {
	header,
	ul {
		width: 100vw;
		padding-inline: 2em;
	}

	form {
		margin-inline: 1em 3px;
	}
}
