@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");

:root {
	--color-background: rgb(250, 250, 250);
	--color-border: rgb(0, 0, 0);
	--color-grey: rgba(0, 0, 0, 0.3);
	--text-light: 100;
	--text-regular: 400;
	--text-bold: 700;
	--header-height: 10em;
}

html {
	font-family: "JetBrains Mono", sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-background);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	height: var(--header-height);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	background-color: var(--color-background);
}

main {
	margin-top: var(--header-height);
}

h2 {
	margin: 0;
}

form {
	width: 14em;
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="search"] {
	width: 100%;
	display: flex;
	padding: 1em;
	font-size: 1em;
	border: solid 2px;
	box-shadow: 5px 5px;
	overflow: hidden;
	border-radius: 0;
}

input[type="search"]:focus {
	outline: none;
}

ul {
	width: 32em;
	margin: 0;
	padding-left: 0;
}

li {
	width: 100%;
	list-style-type: none;
	border: 2px solid;
	padding: 2em;
	margin-bottom: 2em;
}

li:nth-last-of-type {
	margin-bottom: 0;
}

p.abbrCZ {
	color: var(--color-grey);
}

@media (max-width: 36em) {
	main {
		margin-top: var(--header-height);
	}

	ul,
	form {
		width: 100vw;
		padding-inline: 2em;
	}
}
